*{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:green;
    text-align: center;
    line-hight:2.1;
}

.hero img{
    border-radius:50%;
}

.accent{
     color:brown;  
}
